@import "../../global.scss";
@import url(https://fonts.googleapis.com/css?family=Montserrat);

.intro {
  background-color: white;
  display: flex;

  @include mobile {
    flex-direction: column;
    align-items: center;
  }

  .imgContainer {
    position: absolute;
    overflow: hidden;

    img {
      width: 100vw;
      height: 100vh;
      object-fit: cover;

      @include mobile {
        object-fit: cover;
      }
    }
  }

  .left {
    flex: 0.5;
  }

  .right {
    flex: 0.5;
    position: relative;

    *,
    *::after,
    *::before {
      box-sizing: border-box;
    }
    .wrapper {
      width: 100%;
      height: 100%;
      padding-left: 90px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: black;

      @include mobile {
        padding-left: 0;
        align-items: center;
      }

      h1 {
        font-size: 70px;
        -webkit-text-stroke: 2px white;

        @include mobile {
          font-size: 40px;
        }
      }
      h2 {
        font-size: 25px;
        -webkit-text-stroke: 1px white;
      }
      h3 {
        font-size: 25px;

        @include mobile {
          font-size: 20px;
        }
        @include mobile {
          font-size: 20px;
        }
        span {
          font-size: inherit;
          color: black;
          -webkit-text-stroke: 1px white;
        }
        .ityped-cursor {
          animation: blink 1s infinite;
        }
        @keyframes blink {
          100% {
            opacity: 0;
          }
        }
      }

      a {
        width: 40%;
      }

      button {
        font-family: "Montserrat", "san-serif";
        text-transform: uppercase;
      }

      button {
        @include mobile {
          font-size: 10px;
          padding: 10px 20px 10px 30px;
        }
        overflow: hidden;
        position: relative;
        border: none;
        font-size: 18px;
        transition: color 0.5s, transform 0.2s, background-color 0.2s;
        outline: none;
        border-radius: 3px;
        padding: 20px 30px 20px 50px;
        border: 3px solid transparent;
        margin-bottom: 5px;

        &:active {
          transform: translateY(3px);
        }

        &::after,
        &::before {
          border-radius: 3px;
        }
      }

      img {
        position: absolute;
        width: 30px;
        margin-top: 19px;
        margin-left: 13px;

        @include mobile {
          width: 15px;
          bottom: 90px;
        }
      }

      .shrink-border {
        @include mobile {
          color: white;
        }
        background-color: transparent;
        color: darken(black, 10%);

        &:hover {
          background-color: transparent;
          box-shadow: none;
        }

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border: 3px solid darken(black, 10%);
          transition: opacity 0.3s, border 0.3s;
        }

        &:hover::before {
          opacity: 0;
        }

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: transparent;
          border: 3px solid white;
          opacity: 0;
          transform: scaleX(1.1) scaleY(1.3);
          transition: transform 0.3s, opacity 0.3s;
        }

        &:hover::after {
          opacity: 1;
          transform: scaleX(1) scaleY(1);
        }
      }
    }

    .aboutMe {
      position: absolute;
      bottom: 10px;
      left: 50%;
      height: 30px;

      img {
        width: 30px;
        -webkit-animation: nod 2s ease infinite;
        -moz-animation: nod 2s ease infinite;
        -o-animation: nod 2s ease infinite;
        animation: nod 2s ease infinite;
      }

      @keyframes nod {
        0% {
          transform: translate(0);
        }
        50% {
          transform: translate(0, 10px);
        }
        100% {
          transform: translate(0);
        }
      }
    }
  }
}
