.app {
  height: 100vh;

  .sections {
    width: 100%;
    height: calc(100vh); //the sections will start under the topbar
    background-color: mediumaquamarine;
    position: relative;
    //top: 70px;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    &::-webkit-scrollbar {
      display: none;
    }

    > * {
      width: 100vw;
      height: 100vh;
      //height: calc(100vh - 70px);
      scroll-snap-align: start;
    }
  }
}
